
* {
	box-sizing: border-box;
}

body {
	padding: 10px;
	background-color: #282828;
}

nav {
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #82c07c;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-brand, #nav-username, #nav-logout {
	display: block;
	color: #1d2021;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#nav-brand {
	font-size: 1.5rem;
	font-weight: 600;
	margin-right: auto;
}
#nav-logout, #nav-username {
	margin: 0;
}

main {
	padding: 10px;
	background-color: #1d2021;
	color: #fbf1c7;
}


.dir-head {
	padding: 5px;
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

#dir-location-path {
	font-size: 1.5em;
	align-items: center;
	margin: 0px;
	padding-bottom: 0px;
}

#dir-add-menu, .dir-action-menu, .file-action-menu {
	position: relative;
	padding: 0;
	margin-right: auto;
}

#dir-add-btn, .dir-action-btn, .file-action-btn {
	color: #fe8019;
	cursor: pointer;
}
#dir-add-btn {
	font-size: 1.5em;
	font-weight: 1000;
}
.dir-action-btn, .file-action-btn {
	font-size: 0.9em;
	font-weight: 500;
}
#dir-add-btn:hover, .dir-action-btn:hover, .file-action-btn:hover {
	color: #fbf1c7;
}

#dir-add-drop, .dir-action-drop, .file-action-drop {
	z-index: 20;
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: #3c3836;
	border-radius: 4px;
	padding: 8px;
}
.drop-item {
	color: #fbf1c7;
	font-size: 1.2em;
	padding: 5px 2px;
	cursor: pointer;
}


.dir-item, .dir-name, .dir-name:visited {
	font-weight: 500;
	color: #b8bb26;
}
.dir-name:hover, .dir-name:active {
	color: #d3869b;
}
.file-item, .file-name, .file-name:visited {
	font-weight: 500;
	color: #83a598;
}
.file-name:hover, .file-name:active {
	color: #fabd2f;
}


#main-title {
	margin-left: 5px;
}

#warning-title {
	margin: 10px;
	color: #fe8019;
}

.form-pair {
	margin: 10px;
}

.form-btn {
	margin: 10px;
	background-color: inherit;
	color: #fe8019;
	border: 0 none #f00;
	cursor: pointer;
	font-size: 1.3em;
	font-weight: 500;
}
.form-btn:hover, form-btn:active {
	color: #fbf1c7;
}

.text-field {
	background-color: #fbf1c7;
	color: #1d2021;
	border: 3px solid #fabd2f;
	margin-top: 5px;
	padding: 5px;
}
