<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Kasten - {{ PATH_NODES[0].name }}</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <script src="/static/dirview.js" async></script>
</head>
<body><span class="body">
  <div id="current-dir-id" dir_id="{{ PATH_NODES[0].id | tohex }}" display=none></div>
  <div class="page_header">
    <span class="logo-container"><span class="logo-default">
      <a class="logo-link" href="/index.html" title="Kasten - Home"><span class="logo" height="27" width="72">Kasten</span></a>
    </span></span>
    <span style="display:none">&#160;</span>
    <span class="banner-container">
      <a href="/users/{{ USERID | tohex }}/view.html">{{ USERNAME }}</a>:
      <span class="slssep">/</span>
      {% set reversed_nodes = PATH_NODES | reverse %}
      {% for node in reversed_nodes %}
      <a href="/dirs/{{ node.id | tohex }}/view.html">{{ node.name }}</a>
      <span class="slssep">/</span>
      {% endfor %}
    </span>
  </div>
  <div class="action_nav" id="action_list">
    <span class="tab"><a href="/logout.html">logout</a></span>
    <span class="barsep">&#160;|&#160;</span>
    <span class="tab"><a href="/groups.html">groups</a></span>
  </div>
  <div class="header">
    <span class="title"><a class="title" href="/dirs/{{ PATH_NODES[0].id | tohex }}/view.html">{{ PATH_NODES[0].name }}</a></span>
  </div>
  <div class="dir_attributes">
    <span class="attribute">Owner: </span><a href="/users/{{ OWNERNAME }}/view.html" title="owner">{{ OWNERNAME }}</a><br/>
    <span class="attribute">Readable: </span>
    {% for group in READABLE_GROUPS %}
    <a href="/groups/{{ group.id | tohex }}/view.html" title="group">{{ group.name }}</a>
    <span class="barsep">&#160;|&#160;</span>
    {% endfor %}
    <br/>
    <span class="attribute">Writeable: </span>
    {% for group in WRITEABLE_GROUPS %}
    <a href="/groups/{{ group.id | tohex }}/view.html" title="group">{{ group.name }}</a>
    <span class="barsep">&#160;|&#160;</span>
    {% endfor %}
    <br/>
  </div>

  <div class="page_body">
    <table class="fs-list" id="content-list">
      {% set dark = true %}
      {% for child in DIRS %}
      {% if dark %}
      {% set dark = false %}
      <tr class="dark">
      {% else %}
      {% set dark = true %}
      <tr class="light">
      {% endif %}
        <td class="mode">d{% if child.may_read %}r{% else %}-{% endif %}{% if child.may_write %}w{% else %}-{% endif %}</td>
        <td class="size">&#160;</td>
        <td class="list"><a href="/dirs/{{ child.id | tohex }}/view.html">{{ child.name }}</a></td>
        <td class="link">
          <a href="/dirs/{{ child.id | tohex }}/zip">download</a>
          <span class="barsep">&#160;|&#160;</span>
          <a class="showlink" href="/dirs/{{ child.id | tohex }}/view.html">show</a>
        </td>
      </tr>
      {% endfor %}
      {% for child in FILES %}
      {% if dark %}
      {% set dark = false %}
      <tr class="dark">
      {% else %}
      {% set dark = true %}
      <tr class="light">
      {% endif %}
        <td class="mode">-{% if child.may_read %}r{% else %}-{% endif %}{% if child.may_write %}w{% else %}-{% endif %}</td>
        {% if child.size %}
        <td class="size">{{ child.size }}</td>
        {% else %}
        <td class="size">?</td>
        {% endif %}
        <td class="list"><a href="/files/{{ child.id | tohex }}/view.html">{{ child.name }}</a></td>
        <td class="link">
          <a href="/files/{{ child.id | tohex }}/blob">download</a>
          <span class="barsep">&#160;|&#160;</span>
          <a class="showlink" href="/files/{{ child.id | tohex }}/view.html">show</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="page_footer">
    <div class="page_footer_text">Kasten: <a href="https://github.com/plustik/kasten">Github</a></div>
  </div>
</span></body>
</html>
